@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

:root {
  --color-black-secondary: #363636;
  --color-white-body: #ececec;
  --color-white: #fff;
  --color-paragraph: #484848;
  --color-primary: #395656;
  --color-secondary: #8bcfaa;
  --color-tertiary: #6b9999;
  --color-quaternary: #58ad9a;
  --color-quinary: #bdddd0;
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/**
 * ########################################
 * #               ELEMENTS               #
 * ########################################
 */

h1,
h2,
h3,
h4 {
  color: var(--color-primary);
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  height: -webkit-fill-available;
  color: var(--color-black-secondary);
  background-color: var(--color-white-body);
}

main {
  overflow: hidden;
  margin: 0 auto;
  padding: 5rem 0 1rem;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/**
 * ########################################
 * #               PADDINGS               #
 * ########################################
 */
.pt-1 {
  padding-top: 0.5rem !important;
}

.pt-2 {
  padding-top: 1rem !important;
}

.pt-3 {
  padding-top: 1.5rem !important;
}

.pt-4 {
  padding-top: 2rem !important;
}

.pt-5 {
  padding-top: 2.5rem !important;
}

.pt-6 {
  padding-top: 3rem !important;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 1rem !important;
}

.pb-3 {
  padding-bottom: 1.5rem !important;
}

/**
 * #######################################
 * #                WIDTH                #
 * #######################################
 */
.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-65 {
  width: 65%;
}

.w-50 {
  width: 50%;
}

.w-35 {
  width: 35%;
}

.w-25 {
  width: 25%;
}

/**
 * #######################################
 * #               SECTION               #
 * #######################################
 */
.section-pattern {
  margin: 0 auto;
  padding: 8rem 0 1rem;
}

/**
 * #######################################
 * #              CONTAINER              #
 * #######################################
 */
.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

/**
 * #######################################
 * #              CENTERED               #
 * #######################################
 */
.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}

/**
 * #######################################
 * #               HEADING               #
 * #######################################
 */
.heading-xl {
  font-family: inherit;
  font-size: clamp(2.648rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.heading-lg {
  font-family: inherit;
  font-size: clamp(2.179rem, 5vw, 3.176rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.heading-md {
  font-family: inherit;
  font-size: clamp(1.794rem, 4vw, 2.379rem);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
}

.heading-sm {
  font-family: inherit;
  font-size: clamp(1.476rem, 3vw, 1.782rem);
  font-weight: 600;
  line-height: 1.5;
}

.heading-xs {
  font-family: inherit;
  font-size: clamp(1.215rem, 2vw, 1.335rem);
  font-weight: 500;
  line-height: 1.5;
}

/**
 * #######################################
 * #              PARAGRAPH              #
 * #######################################
 */
.paragraph {
  font-family: inherit;
  font-size: clamp(1rem, 2vw, 1.125rem);
  line-height: inherit;
  max-width: 95%;
  height: auto;
  text-transform: unset;
  color: var(--color-paragraph);
}

/**
 * #######################################
 * #               BUTTONS               #
 * #######################################
 */
.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
}

.btn-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.btn-darken {
  padding: 0.75rem 2rem;
  color: var(--color-white);
  background-color: var(--color-black-secondary);
  box-shadow: var(--shadow-medium);
}

.btn-green {
  padding: 0.75rem 2rem;
  color: var(--color-white);
  background-color: var(--color-quaternary);
  box-shadow: var(--shadow-medium);
}

.btn-neutral {
  padding: 0.75rem 2rem;
  color: var(--color-black-tertiary);
  background-color: var(--color-white-primary);
  box-shadow: var(--shadow-medium);
}

/**
 * ######################################
 * #               HEADER               #
 * ######################################
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all 0.35s ease;
}

.header.on-scroll {
  background: var(--color-white-body);
  box-shadow: var(--shadow-medium);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.25rem;
  width: 100%;
  height: 4.25rem;
  margin: 0 auto;
}

.brand {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--color-green-quaternary);
  text-transform: uppercase;
}

/**
 * ######################################
 * #                MENU                #
 * ######################################
 */
.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4rem 0 3rem;
  overflow: hidden;
  background-color: var(--color-white-primary);
  box-shadow: var(--shadow-medium);
  transition: all 0.4s ease-in-out;
}

.menu.is-active {
  top: 0;
  width: 100%;
  height: auto;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
}

.menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-black-primary);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.menu-block {
  display: inline-block;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  padding: 0.65rem 1.5rem;
  border-radius: 3rem;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--color-quaternary);
  box-shadow: var(--shadow-medium);
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
    background: none;
    box-shadow: none;
  }

  .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0 auto;
  }

  .menu-link {
    text-transform: capitalize;
  }

  .menu-block {
    margin-left: 2rem;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  order: -1;
  z-index: 10;
  width: 1.6rem;
  height: 1.15rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}

@media only screen and (min-width: 48rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1.75px;
  border: none;
  outline: none;
  opacity: 1;
  transform: rotate(0deg);
  background-color: var(--color-black-secondary);
  transition: 0.25s ease-in-out;
}

.burger-line:nth-child(1) {
  top: 0px;
}

.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}

.burger-line:nth-child(3) {
  top: 1rem;
}

.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}

.burger.is-active .burger-line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}

/**
 * ######################################
 * #                MAIN                #
 * ######################################
 */
.banner-column {
  position: relative;
  display: grid;
  align-items: center;
  row-gap: 3rem;
}

@media only screen and (min-width: 48rem) {
  .banner-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
  }
}

@media only screen and (min-width: 64rem) {
  .banner-column {
    grid-template-columns: 1fr max-content;
    column-gap: 4rem;
    margin-top: 3rem;
  }
}

.banner-image {
  display: block;
  max-width: 18rem;
  height: auto;
  margin-top: 2rem;
  object-fit: cover;
  justify-self: center;
}

@media only screen and (min-width: 48rem) {
  .banner-image {
    order: 1;
    max-width: 20rem;
    height: auto;
  }
}

@media only screen and (min-width: 64rem) {
  .banner-image {
    max-width: 25rem;
    height: auto;
    margin-right: 5rem;
  }
}

.banner-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.75rem;
}

.banner-links {
  position: absolute;
  top: 30%;
  right: 1.5rem;
  display: grid;
  justify-items: center;
  row-gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (min-width: 64rem) {
  .banner-links {
    opacity: 1;
    visibility: visible;
  }
}

.banner-links > * {
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--color-green-secondary);
}

.banner-links::before {
  position: absolute;
  content: "";
  top: -3rem;
  width: 4rem;
  height: 1.5px;
  transform: rotate(90deg);
  background: var(--color-green-primary);
}

.banner-links::after {
  position: absolute;
  content: "";
  bottom: -3rem;
  width: 4rem;
  height: 2px;
  transform: rotate(90deg);
  background: var(--color-green-primary);
}

/**
 * ########################################
 * #               PARTNERS               #
 * ########################################
 */
#partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem 0rem;
}

#partners img {
  width: 100px;
  object-fit: contain;
  margin-right: 10px;
  filter: grayscale(100%);
}

/**
 * #######################################
 * #                ABOUT                #
 * #######################################
 */
.about-column {
  position: relative;
  display: grid;
  align-items: center;
  row-gap: 3rem;
}

@media only screen and (min-width: 48rem) {
  .about-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
  }
}

@media only screen and (min-width: 64rem) {
  .about-column {
    grid-template-columns: 1fr max-content;
    column-gap: 4rem;
    margin-top: 5rem;
  }
}

.about-inner {
  display: block;
  max-width: 18rem;
  height: auto;
  margin-top: 2rem;
  object-fit: cover;
  justify-self: center;
}

@media only screen and (min-width: 48rem) {
  .about-inner {
    order: 1;
    max-width: 20rem;
    height: auto;
  }
}

@media only screen and (min-width: 64rem) {
  .about-inner {
    max-width: 40rem;
    height: auto;
    margin-right: 1rem;
  }
}

.about-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.75rem;
}

/**
 * ########################################
 * #                FOOTER                #
 * ########################################
 */

.footer {
  background-color: var(--color-quaternary);
  color: #fff;
  margin-top: 75px;
}

.footer-wave-svg {
  background-color: var(--color-quaternary);
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-onda-path {
  fill: var(--color-white-body);
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 40px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-button:hover {
  background-color: #fffff2;
  color: var(--color-black-secondary);
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-button {
  background-color: var(--color-primary);
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-copyright {
  background-color: var(--color-quaternary);
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 250px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

/**
 * ##################################################
 * #   SEGURANÇA ALIMENTAR E AGRICULTURA FAMILIAR   #
 * ##################################################
 */

.seguranca-agricultura-alimentar {
  overflow: hidden;
  margin: 0 auto;
  padding: 5rem 0 1rem;
}

/**
 * #################################################
 * #                     IDEAS                     #
 * #################################################
 */

.ideas {
  overflow: hidden;
  margin: 0 auto;
  padding: 5rem 0 1rem;
}

.ideas div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ideas h5 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

/**
 * #################################################
 * #     DESAFIOS E RESPONSABILIDADES DAS IAGs     #
 * #################################################
 */
.desafios-responsabilidades-iags {
  overflow: hidden;
  margin: 0 auto;
  padding: 5rem 0 1rem;
}

/**
 * #################################################
 * #           MANEJO E NUTRIÇÃO VEGETAL           #
 * #################################################
 */
.manejo-nutricao-vegetal {
  overflow: hidden;
  margin: 0 auto;
  padding: 5rem 0 1rem;
}

/**
 * #####################################
 * #              CONTATO              #
 * #####################################
 */

.form-mb-5 {
  margin-bottom: 20px;
}
.form-pt-3 {
  padding-top: 12px;
}
.form-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.form-content {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
}
.form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: vertical;
}
form input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.form-margin {
  margin-left: -12px;
  margin-right: -12px;
}
.form-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.form-action {
  display: flex !important;
  justify-content: end !important;
  align-items: end !important;
}
